<!DOCTYPE html>
<html>
<head>
    <title>Developer Hub</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="pt-16 lg:px-16">
    <h2 class="text-white font-bold text-3xl lg:text-xl text-center">connell<span class="text-[#f9004d]">boyce</span>.com</h2>
    <h1 class="text-white font-bold text-5xl lg:text-3xl mb-4 text-center">developer<span class="text-[#f9004d]">hub</span></h1>
    <hr>
    <h1 class="text-white font-bold text-5xl my-4 text-center">manage my <span class="text-[#f9004d]">applications</span></h1>
    <div class="rounded-xl bg-neutral-900 p-8 lg:mx-auto mt-8 mx-16">
        <a href="/portal/applications/create"><div class="text-center text-white bg-[#f9004d] rounded-lg p-2 mb-4 border border-[#f9004d] border-4 hover:bg-neutral-900">+ Create New</div></a>
        <table class="text-white w-full mt-4">
            <thead class="border-white border-b">
                <th class="text-left">Name</th>
                <th class="text-center">Actions</th>
            </thead>
            <tbody>
                {#for app in applications}
                    <tr>
                        <td class="hidden">{app.id}</td>
                        <td class="text-left">{app.name}</td>
                        <td class="flex gap-4 justify-center">
                            <a href="/portal/applications/{app.id}"><div class="bg-white rounded-lg text-black p-2 border-4 border-white hover:bg-neutral-900 hover:text-white">Edit</div></a>
                            <div>
                                <form action="/portal/operation/application/{app.id}" method="post">
                                    <input type="hidden" name="_method" value="delete" />
                                    <input class="bg-red-600 rounded-lg p-2 border-4 border-red-600 hover:bg-neutral-900 cursor-pointer"
                                           type="submit"
                                           value="Delete" />
                                </form>
                            </div>
                        </td>
                    </tr>
                {/for}
            </tbody>
        </table>
    </div>
</div>
</body>
<script>
    setTimeout(() => {
        const success = document.getElementById('success-banner');
        const error = document.getElementById('error-banner');
        if (success) {
            success.classList.add('opacity-0');
            setTimeout(() => success.classList.add('hidden'), 1000);
        }
        if (error) {
            error.classList.add('opacity-0');
            setTimeout(() => error.classList.add('hidden'), 1000);
        }
    }, 5000);
</script>
</html>