<!DOCTYPE html>
<html>
<head>
    <title>Create Application</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="px-8 pt-16 lg:px-16">
    <h2 class="text-white font-bold text-3xl lg:text-xl text-center">connell<span class="text-[#f9004d]">boyce</span>.com</h2>
    <h1 class="text-white font-bold text-5xl lg:text-3xl mb-4 text-center">developer<span class="text-[#f9004d]">hub</span></h1>
    <hr>
    <h1 class="text-white font-bold text-5xl my-4 text-center">create an <span class="text-[#f9004d]">application</span></h1>
    <div class="rounded-xl bg-neutral-900 p-8 lg:mx-auto mt-8 mx-16">
        <form action="/portal/operation/application" method="post">
            <div class="pb-4">
                <label for="applicationName" class="text-white text-4xl lg:text-2xl block">Application Name</label>
                <input type="text" id="applicationName" name="applicationName" placeholder="My Application" class="h-16 rounded-lg my-2 text-4xl lg:text-2xl w-1/2"/>
            </div>
            <div class="pb-4">
                <label for="applicationDesc" class="text-white text-4xl lg:text-2xl block">Description</label>
                <input type="text" id="applicationDesc" name="description" placeholder="Service that does X Y Z" class="h-16 rounded-lg my-2 text-4xl lg:text-2xl w-full"/>
            </div>
            <div class="pb-4">
                <p class="text-white">Don't worry, you can create scopes later!</p>
            </div>
            <input class="bg-[#f9004d] border-4 font-bold hover:bg-black border-[#f9004d] py-2 px-4 rounded-xl text-white cursor-pointer text-5xl lg:text-3xl mt-8 lg:mt-4"
                   type="submit"
                   value="Create" />
        </form>
    </div>
</div>
</body>
</html>